# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер

In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, 
                             {'Настя': 3, 'Лена': 50}]})
df

                      dicts
0    {'Лена': 1, 'Ваня': 2}
1    {'Ваня': 3, 'Леша': 5}
2  {'Настя': 3, 'Лена': 50}

In [11]:
def departments(row):
    if 'Лена' in row['dicts']:
        row['разработка'] = row['dicts']['Лена']
    
    if 'Ваня' in row['dicts']:
        row['дизайнер'] = row['dicts']['Ваня']
    
    if 'Настя' in row['dicts']:
        row['финансы'] = row['dicts']['Настя']
    
    return row

In [13]:
df.apply(departments, axis=1).fillna(0)

                      dicts  дизайнер  разработка  финансы
0    {'Лена': 1, 'Ваня': 2}       2.0         1.0      0.0
1    {'Ваня': 3, 'Леша': 5}       3.0         0.0      0.0
2  {'Настя': 3, 'Лена': 50}       0.0        50.0      3.0

In [14]:
df

                      dicts
0    {'Лена': 1, 'Ваня': 2}
1    {'Ваня': 3, 'Леша': 5}
2  {'Настя': 3, 'Лена': 50}

In [ ]:
value_counts()

In [19]:
df = (
    df
    .groupby('разработка')
    .agg(
        {
            'финансы': departments,  # это сумма расходов
            'дизайнер': 'mean'  # количество клиентов
        }
    )
    .head()  # не забыть удалить, а то все будет неправильно
    .apply(departments, axis=1)
)

In [17]:
df.apply(departments, axis=1).head()

                      dicts  дизайнер  разработка  финансы
0    {'Лена': 1, 'Ваня': 2}       2.0         1.0      NaN
1    {'Ваня': 3, 'Леша': 5}       3.0         NaN      NaN
2  {'Настя': 3, 'Лена': 50}       NaN        50.0      3.0