# Домашнее задание к лекции "Базовые понятия статистики"

In [1]:
import pandas as pd

## Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [2]:
horse_data = pd.read_csv('horse_data.csv')
horse_data.columns = ['surgery', 'age', 'hospital_number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_ph', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion', 'type_of_lesion1', 'type_of_lesion2', 'type_of_lesion3', 'cp_data']
# Убираем колонку cp_data, так как они не релевантна согласно файлу horse_data.names
horse_data.drop(['cp_data'], axis=1, inplace=True)

In [3]:
# поменям ? на None, чтобы не искажались метрики
horse_data.replace({'?': None}, inplace=True)
# поменям 9 на 2 в столбце age, так как это явная ошибка
horse_data.replace({'age': {9: 2}}, inplace=True)
horse_data.head()

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,1,1,534817,39.2,88,20,None,None,4,1,...,2,50,85,2,2,3,2,2208,0,0
1,2,1,530334,38.30,40,24,1,1,3,1,...,1,33.00,6.70,None,None,1,2,0,0,0
2,1,2,5290409,39.10,164,84,4,1,6,2,...,None,48.00,7.20,3,5.30,2,1,2208,0,0
3,2,1,530255,37.30,104,35,None,None,6,2,...,None,74.00,7.40,None,None,2,2,4300,0,0
4,2,1,528355,None,None,None,2,1,3,1,...,3,None,None,None,None,1,2,0,0,0

In [4]:
# превратим все столбцы в числовые значения для коррекного подсчета метрик
horse_data = horse_data.apply(pd.to_numeric, errors='coerce')
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      298 non-null    float64
 1   age                          299 non-null    int64
 2   hospital_number              299 non-null    int64
 3   rectal_temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory_rate             241 non-null    float64
 6   temperature_of_extremities   243 non-null    float64
 7   peripheral_pulse             230 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill_time        267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal_distension         243 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_ph        53 non-null     float64
 16  rectal_examination_feces     197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed_cell_volume           270 non-null    float64
 19  total_protein                266 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical_lesion              299 non-null    int64
 24  type_of_lesion1              299 non-null    int64
 25  type_of_lesion2              299 non-null    int64
 26  type_of_lesion3              299 non-null    int64
dtypes: float64(21), int64(6)
memory usage: 63.2 KB

In [5]:
# Описывать базовые метрики до работы с выбросами и заполниния пропусков не имеет смысла
horse_data.describe()

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3
count,298.000000,299.000000,2.990000e+02,239.000000,275.000000,241.000000,243.000000,230.000000,253.000000,267.000000,...,181.000000,270.000000,266.000000,135.000000,102.000000,298.000000,299.000000,299.000000,299.000000,299.000000
mean,1.395973,1.080268,1.087748e+06,38.166527,71.934545,30.427386,2.345679,2.013043,2.853755,1.303371,...,3.685083,46.300000,24.517293,2.037037,3.019608,1.550336,1.361204,3632.321070,90.528428,7.387960
std,0.489881,0.272162,1.532026e+06,0.733508,28.680522,17.678256,1.046369,1.042672,1.620294,0.476623,...,1.492667,10.438384,27.509056,0.804905,1.968567,0.737967,0.481155,5390.356722,650.637139,127.749768
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.500000,0.000000,0.000000
50%,1.000000,1.000000,5.303100e+05,38.200000,64.000000,24.000000,3.000000,1.500000,3.000000,1.000000,...,4.000000,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2322.000000,0.000000,0.000000
75%,2.000000,1.000000,5.347360e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,5.000000,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000
max,2.000000,2.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,5.000000,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000

In [6]:
horse_data.drop('hospital_number', axis=1).mode().drop(1)

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,...,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,1.0,1.0,38.0,48.0,20.0,3.0,1.0,1.0,1.0,3.0,...,5.0,37.0,6.5,2.0,2.0,1.0,1.0,0.0,0.0,0.0

## Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [7]:
# Найдем межквартльный размах для всех колонок с не категорийными данными, так как выбросы категорийных данных это явные ошибки и для них не корректно расчитывать этот параметр
columns_non_categorical = ['rectal_temperature', 'pulse', 'respiratory_rate', 'nasogastric_reflux_ph', 'packed_cell_volume', 'total_protein', 'abdomcentesis_total_protein']
q1 = horse_data[columns_non_categorical].quantile(0.25)
q3 = horse_data[columns_non_categorical].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)

In [8]:
# Напишем функцию, которая определит выбросы и отобразит их вместе с колонками 'surgical_lesion', 'type_of_lesion1', 'pain', 'abdominal_distension', которые могут приводить к аномальным значениям
def outliers(column):
    outliers = horse_data[(horse_data[column] < lower_bound[column]) | (horse_data[column] > upper_bound[column])]
    if outliers.empty:
        return 'Эта колонка на имеет выбросов'
    return outliers[[column, 'surgical_lesion', 'type_of_lesion1', 'pain', 'abdominal_distension']]

In [9]:
outliers('rectal_temperature')
# Нормальная температура - 37.8, так что можно оставить выбросы так как они не сильно больше или меньше нормальной температуры и это можно списать на болезни, операции, постхирургические или другие образования

,rectal_temperature,surgical_lesion,type_of_lesion1,pain,abdominal_distension
19,39.9,1,2111,5.0,4.0
43,35.4,1,3205,4.0,NaN
53,40.3,1,7400,2.0,3.0
74,39.7,1,1400,2.0,NaN
79,36.4,1,2205,4.0,2.0
90,40.3,1,3205,2.0,3.0
98,39.6,2,4300,2.0,3.0
117,36.5,1,3112,5.0,1.0
140,36.0,2,1400,NaN,NaN
237,36.1,1,2209,3.0,2.0
250,36.6,1,5111,1.0,1.0
258,40.8,1,11400,2.0,1.0
280,40.0,1,8400,2.0,1.0
297,36.5,1,2208,3.0,3.0

In [10]:
outliers('pulse')
# Для данной характеристики есть только выбросы превышающие верхнюю границу межквартльного размаха. Учитывая, что все лошади с повышеным пульсом подвержены surgical lesion, можно оставить эти значения

     pulse  surgical_lesion  type_of_lesion1  pain  abdominal_distension
2    164.0                1             2208   2.0                   4.0
40   150.0                1             9400   NaN                   NaN
54   160.0                1             7111   3.0                   4.0
254  184.0                1             7111   4.0                   3.0
274  150.0                1             4207   5.0                   2.0

In [11]:
outliers('respiratory_rate')
# Несмотря на значительное превышения выбросами нормы (8-10), можно оставить эти значения, так как полезность этой колонки является сомнительной (согласно файлу horse_data.names) и мы не будем обращать на нее внимание в дальнейшем

,respiratory_rate,surgical_lesion,type_of_lesion1,pain,abdominal_distension
2,84.0,1,2208,2.0,4.0
38,96.0,1,2113,NaN,NaN
40,72.0,1,9400,NaN,NaN
81,80.0,1,3111,3.0,1.0
83,80.0,1,5206,2.0,3.0
102,68.0,1,7111,3.0,2.0
105,96.0,1,3209,NaN,NaN
119,66.0,1,2206,2.0,2.0
124,68.0,1,2205,3.0,2.0
185,90.0,1,21110,NaN,1.0
207,80.0,1,3205,NaN,3.0
228,70.0,1,4205,NaN,NaN
243,88.0,1,9400,2.0,4.0
254,84.0,1,7111,4.0,3.0
264,68.0,1,5206,3.0,1.0
268,90.0,1,31110,NaN,1.0
294,70.0,2,3205,2.0,NaN

In [12]:
outliers('nasogastric_reflux_ph')

'Эта колонка на имеет выбросов'

In [13]:
outliers('packed_cell_volume')
# количество эретроцитов (в норме 30-50) в крови может повышаться от нарушений кровообращения, так что можно оставить выбросы так как их можно списать на болезни, операции, постхирургические или другие образования

,packed_cell_volume,surgical_lesion,type_of_lesion1,pain,abdominal_distension
3,74.0,2,4300,NaN,NaN
143,75.0,2,1400,2.0,4.0
150,75.0,1,2207,4.0,2.0

In [14]:
outliers('total_protein')

'Эта колонка на имеет выбросов'

In [15]:
outliers('abdomcentesis_total_protein')
# Норма осутствует, но чем выше количество этого протеина, тем больше вероятность, что у лошади проблемы с желудочным трактом

,abdomcentesis_total_protein,surgical_lesion,type_of_lesion1,pain,abdominal_distension
30,7.4,1,2207,2.0,2.0
70,7.0,2,0,1.0,1.0
112,10.0,1,3205,NaN,NaN
142,7.0,2,0,1.0,1.0
210,10.1,1,3111,2.0,4.0
224,8.0,2,3111,1.0,1.0
283,7.0,2,0,3.0,1.0

## Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [16]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      298 non-null    float64
 1   age                          299 non-null    int64
 2   hospital_number              299 non-null    int64
 3   rectal_temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory_rate             241 non-null    float64
 6   temperature_of_extremities   243 non-null    float64
 7   peripheral_pulse             230 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill_time        267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal_distension         243 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_ph        53 non-null     float64
 16  rectal_examination_feces     197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed_cell_volume           270 non-null    float64
 19  total_protein                266 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical_lesion              299 non-null    int64
 24  type_of_lesion1              299 non-null    int64
 25  type_of_lesion2              299 non-null    int64
 26  type_of_lesion3              299 non-null    int64
dtypes: float64(21), int64(6)
memory usage: 63.2 KB

In [17]:
horse_data[horse_data['surgery'].isna()][['surgery', 'surgical_lesion']]

     surgery  surgical_lesion
131      NaN                1

In [18]:
# колонка surgery имеет один пропуск, так как в этой строке значение surgical_lesion = 1 (значит операция была), то можно поставить 1 в surgery
horse_data['surgery'].fillna(value=1, inplace=True)
'Количесто пропусков в колонке surgery: ' + str(len(horse_data[horse_data['surgery'].isna()]))

'Количесто пропусков в колонке surgery: 0'

In [19]:
# Создадим колонку type_of_lesion_1_2 и заполним значениями 1 (есть проблема), если type_of_lesion1 или type_of_lesion2 или type_of_lesion3 > 0 и 2 (нет проблемы) , если type_of_lesion1 или type_of_lesion2 или type_of_lesion3 == 0
def type_of_lesion_1_2(row):
    if row['type_of_lesion1'] > 0 or row['type_of_lesion2'] > 0 or row['type_of_lesion3'] >0:
        return 1
    return 2
horse_data['type_of_lesion_1_2'] = horse_data.apply(type_of_lesion_1_2, axis=1)

In [20]:
# Функция для заполнения пропусков медианой
def median_fill(column_to_fill, **groupby_kwargs):
    horse_data[column_to_fill].fillna(horse_data.groupby(list(groupby_kwargs.values()))[column_to_fill].transform('median'), inplace=True)
    missign_values = len(horse_data[horse_data[column_to_fill].isna()])
    return f'Количесто пропусков в колонке {column_to_fill}: {missign_values}'

In [21]:
# Функция для заполнения пропусков модой
def mode_fill(column_to_fill, **groupby_kwargs):
    horse_data[column_to_fill] = horse_data.groupby(list(groupby_kwargs.values())).transform(lambda x: x.fillna(x.mode()))
    missign_values = len(horse_data[horse_data[column_to_fill].isna()])
    return f'Количесто пропусков в колонке {column_to_fill}: {missign_values}'

In [22]:
# Согласно horese_data.names, rectal_temperature зависит от surgery, temperature_of_extremities, type_of_lesion_1_2. Заполним пропуски медианой (выбросы присутствуют и признаны не выходящими за рамки возможного) в разрезе вышеперечисленных групп
median_fill('rectal_temperature', col1='surgery', col2='temperature_of_extremities', col3='type_of_lesion_1_2')

'Количесто пропусков в колонке rectal_temperature: 14'

In [23]:
# Так как temperature_of_extremities имеет пропуски исключим ее и еще раз заполним пропуски
median_fill('rectal_temperature', col1='surgery', col3='type_of_lesion_1_2')

'Количесто пропусков в колонке rectal_temperature: 0'

In [24]:
# Добавим колонку rectal_temperature_int, где округлим rectal_temperature для лучшей группировки
horse_data['rectal_temperature_int'] = horse_data['rectal_temperature'].round().astype(int)

In [25]:
# Согласно horese_data.names, pulse зависит от temperature_of_extremities и type_of_lesion_1_2. Заполним пропуски медианой (выбросы присутствуют и признаны не выходящими за рамки возможного) в разрезе вышеперечисленных групп
median_fill('pulse', col1='temperature_of_extremities', col3='type_of_lesion_1_2')

'Количесто пропусков в колонке pulse: 9'

In [26]:
# Так как temperature_of_extremities имеет пропуски исключим ее и еще раз заполним пропуски
median_fill('pulse', col3='type_of_lesion_1_2')

'Количесто пропусков в колонке pulse: 0'

In [27]:
# Согласно horese_data.names, respiratory_rate не имеет большого значения, так как данные вариируются в слишком большом диапазоне. Заполним пропуски медианой (выбросы присутствуют и признаны не выходящими за рамки возможного) в разрезе возрастных групп
median_fill('respiratory_rate', col3='age')

'Количесто пропусков в колонке respiratory_rate: 0'

In [28]:
# Согласно horese_data.names, temperature_of_extremities зависит от rectal_temperature. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('temperature_of_extremities', col1='rectal_temperature_int')

'Количесто пропусков в колонке temperature_of_extremities: 0'

In [29]:
# Согласно horese_data.names, peripheral_pulse зависит от temperature_of_extremities. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('peripheral_pulse', col1='temperature_of_extremities')

'Количесто пропусков в колонке peripheral_pulse: 0'

In [30]:
# Согласно horese_data.names, mucous_membranes зависит от temperature_of_extremities. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('mucous_membranes', col1='temperature_of_extremities')

'Количесто пропусков в колонке mucous_membranes: 0'

In [31]:
# Согласно horese_data.names, capillary_refill_time зависит от mucous_membranes. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('capillary_refill_time', col1='mucous_membranes')

'Количесто пропусков в колонке capillary_refill_time: 0'

In [32]:
# Согласно horese_data.names, pain зависит от surgery. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('pain', col1='surgery')

'Количесто пропусков в колонке pain: 0'

In [33]:
# Согласно horese_data.names, abdominal_distension зависит от pain. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('abdominal_distension', col1='pain')

'Количесто пропусков в колонке abdominal_distension: 0'

In [34]:
# Согласно horese_data.names, peristalsis зависит от abdominal_distension. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('peristalsis', col1='abdominal_distension')

'Количесто пропусков в колонке peristalsis: 0'

In [35]:
# Согласно horese_data.names, nasogastric_tube зависит от peristalsis. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('nasogastric_tube', col1='peristalsis')

'Количесто пропусков в колонке nasogastric_tube: 0'

In [36]:
# Согласно horese_data.names, nasogastric_reflux зависит от abdominal_distension. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('nasogastric_reflux', col1='abdominal_distension')

'Количесто пропусков в колонке nasogastric_reflux: 0'

In [37]:
# Согласно horese_data.names, nasogastric_reflux_ph зависит от nasogastric_reflux. Заполним пропуски медианой в разрезе вышеперечисленных групп, так как данные линейные
median_fill('nasogastric_reflux_ph', col1='nasogastric_reflux')

'Количесто пропусков в колонке nasogastric_reflux_ph: 0'

In [38]:
# Согласно horese_data.names, rectal_examination_feces зависит от nasogastric_reflux. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('rectal_examination_feces', col1='nasogastric_reflux')

'Количесто пропусков в колонке rectal_examination_feces: 0'

In [39]:
# Согласно horese_data.names, abdomen зависит от surgical_lesion и nasogastric_reflux. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('abdomen', col1='surgical_lesion', col2='nasogastric_reflux')

'Количесто пропусков в колонке abdomen: 0'

In [40]:
# Согласно horese_data.names, packed_cell_volume зависит от capillary_refill_time и rectal_temperature_int. Заполним пропуски медианой в разрезе вышеперечисленных групп, так как данные линейные
median_fill('packed_cell_volume', col1='capillary_refill_time', col2='rectal_temperature_int')

'Количесто пропусков в колонке packed_cell_volume: 0'

In [41]:
# Согласно horese_data.names, total_protein зависит от packed_cell_volume. Заполним пропуски медианой в разрезе вышеперечисленных групп, так как данные линейные
median_fill('total_protein', col1='packed_cell_volume')

'Количесто пропусков в колонке total_protein: 0'

In [42]:
# Согласно horese_data.names, abdominocentesis_appearance зависит от peristalsis и abdominal_distension. Заполним пропуски модой в разрезе вышеперечисленных групп, так как данные категорийные
mode_fill('abdominocentesis_appearance', col1='peristalsis', col2='abdominal_distension')

'Количесто пропусков в колонке abdominocentesis_appearance: 0'

In [43]:
# Согласно horese_data.names, abdomcentesis_total_protein зависит от abdominocentesis_appearance. Заполним пропуски медианой в разрезе вышеперечисленных групп, так как данные линейные
median_fill('abdomcentesis_total_protein', col1='abdominocentesis_appearance')

'Количесто пропусков в колонке abdomcentesis_total_protein: 0'

In [44]:
# Заполним колонку outcome на основании моды в разрезе type_of_lesion1, так как скорее всего лошади с одинаковыми повреждениями имели одну судьбу
mode_fill('outcome', col1='type_of_lesion1')

'Количесто пропусков в колонке outcome: 0'

In [48]:
print('Количесто пропусков в датафрейме:', horse_data.isna().sum().sum())

Количесто пропусков в датафрейме: 0

In [46]:
# Избавимся от вспомогательных колонок
horse_data.drop(['rectal_temperature_int', 'type_of_lesion_1_2'], axis=1)

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,1.0,1,534817,39.20,88.0,20.0,1.0,1.0,1.0,1.0,...,1.0,50.0,85.0,1.0,2.00,1.0,2,2208,0,0
1,2.0,1,530334,38.30,40.0,24.0,2.0,2.0,2.0,2.0,...,2.0,33.0,6.7,2.0,2.55,2.0,2,0,0,0
2,1.0,2,5290409,39.10,164.0,84.0,1.0,1.0,1.0,1.0,...,1.0,48.0,7.2,1.0,5.30,1.0,1,2208,0,0
3,2.0,1,530255,37.30,104.0,35.0,2.0,2.0,2.0,2.0,...,2.0,74.0,7.4,2.0,2.55,2.0,2,4300,0,0
4,2.0,1,528355,38.35,53.0,24.0,2.0,2.0,2.0,2.0,...,2.0,44.0,7.5,2.0,2.55,2.0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1.0,1,533886,38.50,120.0,70.0,1.0,1.0,1.0,1.0,...,1.0,55.0,65.0,1.0,2.00,1.0,2,3205,0,0
295,2.0,1,527702,37.20,72.0,24.0,2.0,2.0,2.0,2.0,...,2.0,44.0,7.5,2.0,3.30,2.0,1,2208,0,0
296,1.0,1,529386,37.50,72.0,30.0,1.0,1.0,1.0,1.0,...,1.0,60.0,6.8,1.0,2.00,1.0,1,3205,0,0
297,1.0,1,530612,36.50,100.0,24.0,1.0,1.0,1.0,1.0,...,1.0,50.0,6.0,1.0,3.40,1.0,1,2208,0,0
298,1.0,1,534618,37.20,40.0,20.0,1.0,1.0,1.0,1.0,...,1.0,36.0,62.0,1.0,1.00,1.0,2,6112,0,0